<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Auction" connectionString="Data Source=localhost;uid=pisoft;pwd=oscar;Initial Catalog=Auction;Connect Timeout=11;Max Pool Size=40000;" providerName="System.Data.SqlClient" />
  </connectionStrings>
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
